<header>
  <h1>Recent activity</h1>
</header>

<table class="recent-activities">
  <thead>
    <tr>
      <th class="description">Description</th>
      <th class="time">When</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
