<section id="content-with-sidebar">
  <header>
    <h1>{{name}}</h1>
  </header>

  <table class="blog-posts">
    <thead>
      <tr>
        <th class="title">Post title</th>
        <th class="published-on">Published on</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<aside id="content-sidebar">
  <ul id="content-actions">
    <li class="edit">
      <a>Edit this blog</a>
    </li>
    <li class="new-post">
      <a>Make a new post</a>
    </li>
  </ul>
</aside>
