<form>
  <ol>
    <li class="password-field">
      <label for="admin_password">New password</label>
      <input type="password" name="password" id="admin_password" placeholder="Enter a new password" />
    </li>
    <li class="password-field">
      <label for="admin_password_confirmation">Confirm new password</label>
      <input type="password" name="password_confirmation" id="admin_password_confirmation" placeholder="Confirm the new password" />
    </li>
  </ol>
  <ol class="buttons">
    <li>
      <button type="submit">Change password</button>
    </li>
  </ol>
</form>
