%h1
  Error
  = error_code

%p
  Your request could not be handled by the content management system. The error provided was:

%blockquote
  = message

%p
  %em
    = link_to 'Adapt Content Management System', 'http://www.adaptapp.com/'
