<form>
  <section id="content-with-sidebar">
    <header class="editable-header">
      <input type="text" name="filename" id="javascript_filename" value="{{filename}}" class="editable-header-field" />
    </header>

    <ol>
      <li class="text-field">
        <label for="javascript_data">Data</label>
        <div class="editor" id="javascript_data">{{data}}</div>
      </li>
    </ol>
  </section>

  <aside id="content-sidebar">
    <header>
      <h2>Actions</h2>
    </header>
    <ol class="buttons">
      <li>
        <button type="submit">Save javascript</button>
      </li>
    </ol>
  </aside>
</form>
