@import 'compass/css3/images';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';

#dialog-ui {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;

  #dialog {
    position: fixed;
    z-index: 101;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    @include border-top-radius(2px);
    min-width: 250px;
    max-width: 900px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 5px);

    header {
      @include border-top-radius(2px);
      @include background-image(linear-gradient(center bottom, #fff, #ede9e8));
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
      border-bottom: 1px solid #d5d5d5;

      h2 {
        font-weight: bold;
        float: left;
      }

      a {
        float: right;
        padding-left: 20px;
        cursor: pointer;
      }
    }

    article {
      padding: 10px;
    }
  }
}

// Limit the size of the image in the preview for resource previews.
#dialog #resource-preview img {
  max-width: 600px;
  max-height: 400px;
  // max-width: 880px;
  // max-height: 480px;
}
