<section id="content-with-sidebar">
  <header>
    <h1>View templates</h1>
  </header>

  <table class="view-templates">
    <thead>
      <tr>
        <th class="filename">Filename</th>
        <th class="size">Size</th>
        <th class="created-at">Created at</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>

<aside id="content-sidebar">
  <ul id="content-actions">
    <li class="new-template">
      <a>Make a new view template</a>
    </li>
  </ul>
</aside>
