<section id="content-with-sidebar">
  <ul id="resources"></ul>
</section>

<aside id="content-sidebar">
  <ul id="content-actions">
    <li id="design-resource-uploader">
      <div/>
    </li>
  </ul>
</aside>
